<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Crud Application</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="../public/style.css">
  </head>
  <body >
    <div >
      <header class="text-3xl text-center py-4 bg-[#06d6a0]">User Management Platform</header>
    </div>
    <main class="w-[1000px] text-center mx-auto">
      <div class="flex mt-4 ml-4 bg-gray-200 w-36 rounded-md ">
        <a href="/add-user" class="px-4 py-2 ">
          <span class="font-bold px-2">New User <i class="fa-solid fa-user"></i></span>
        </a>
      </div>
      <div class=" flex align-center justify-center mt-8">
        <form action="/" method="POST">
          <table class="table">
            <thead>
              <tr class="table-head">
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Gender</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody >
              <tr class=" table-body">
                <td>1</td>
                <td>Username</td>
                <td>Example@gmail.com</td>
                <td>Male</td>
                <td>active</td>
                <td>
                    <a href="update">
                        <span><i class="fa-solid fa-pencil mr-8"></i></span>
                    </a>
                    <a href="delete">
                        <span><i class="fa-solid fa-trash"></i></span>
                    </a>
                </td>
              </tr>
            </tbody>
          </table>
        </form>
      </div>
    </main>
  </body>
</html>
